In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('../archive/companies-names-industries.csv')

df

,SEC ID,Latest Name,Previous Names (@@@ separator),Latest NAICS Industry Sector Name,Latest NAICS Industry Sector Code,Previous NAICS Industry Sector Names (@@@ separator),Previous NAICS Industry Sector Codes (@@@ separator),Latest SIC Industry Code,Previous SIC Industry Codes (@@@ separator)
0,1000045,Nicholas Financial Inc,NaN,Finance and Insurance,52.0,NaN,NaN,6153.0,NaN
1,1000180,Sandisk Corp,NaN,Manufacturing,33.0,NaN,NaN,3572.0,NaN
2,1000209,Medallion Financial Corp,NaN,Finance and Insurance,52.0,NaN,NaN,6199.0,NaN
3,1000228,Henry Schein Inc,NaN,Retail Trade,44.0,NaN,NaN,5047.0,NaN
4,1000229,Core Laboratories N V,NaN,Construction,23.0,NaN,NaN,1389.0,NaN
...,...,...,...,...,...,...,...,...,...
12610,99313,Transnet Corp,NaN,Retail Trade,44.0,NaN,NaN,5045.0,NaN
12611,99359,Breeze-Eastern Corp,NaN,"Professional, Scientific, and Technical Services",54.0,NaN,NaN,3728.0,NaN
12612,99771,Trinity Capital Corp,NaN,Finance and Insurance,52.0,NaN,NaN,6021.0,NaN
12613,99780,Trinity Industries Inc,NaN,Manufacturing,33.0,NaN,NaN,3743.0,NaN
12614,9984,Barnes Group Inc,NaN,Manufacturing,33.0,NaN,NaN,3490.0,NaN

In [18]:
df.loc[df['SEC ID'] == 320193]

,SEC ID,Latest Name,Previous Names (@@@ separator),Latest NAICS Industry Sector Name,Latest NAICS Industry Sector Code,Previous NAICS Industry Sector Names (@@@ separator),Previous NAICS Industry Sector Codes (@@@ separator),Latest SIC Industry Code,Previous SIC Industry Codes (@@@ separator)
9761,320193,Apple Inc,NaN,Manufacturing,33.0,NaN,NaN,3571.0,NaN

In [26]:
df.loc[df['Latest Name'] =="Intel Corp"]

,SEC ID,Latest Name,Previous Names (@@@ separator),Latest NAICS Industry Sector Name,Latest NAICS Industry Sector Code,Previous NAICS Industry Sector Names (@@@ separator),Previous NAICS Industry Sector Codes (@@@ separator),Latest SIC Industry Code,Previous SIC Industry Codes (@@@ separator)
10024,50863,Intel Corp,NaN,Manufacturing,33.0,NaN,NaN,3674.0,NaN

In [20]:

df2 = pd.read_csv('../archive/metrics/Assets-quarterly.csv')

df2

,SEC ID,2011Q1,2011Q2,2011Q3,2011Q4,2012Q1,2012Q2,2012Q3,2012Q4,2013Q1,...,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2
0,1003130,NaN,7.557800e+07,6.912600e+07,6.643300e+07,6.970700e+07,6.015800e+07,5.290600e+07,4.896800e+07,5.006000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1133116,NaN,3.500000e+01,2.200000e+02,7.501300e+04,2.174900e+04,4.743700e+04,3.811400e+04,3.814400e+04,3.171100e+04,...,1.840900e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,912513,3.826500e+09,3.857000e+09,3.630700e+09,3.536700e+09,3.715900e+09,3.858400e+09,3.955900e+09,3.922100e+09,3.961200e+09,...,2.722700e+09,2.776400e+09,2.808100e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1101026,NaN,NaN,3.660510e+05,4.634940e+05,4.174290e+05,NaN,NaN,2.340040e+05,2.212350e+05,...,1.830300e+05,1.192440e+05,1.017960e+05,7.268000e+04,3.495980e+05,9.084600e+04,7.499100e+05,7.372920e+05,1.238745e+06,NaN
4,23197,9.985630e+08,9.375090e+08,8.533730e+08,NaN,7.654000e+08,7.197780e+08,7.055940e+08,NaN,6.847470e+08,...,4.714870e+08,4.737950e+08,4.590420e+08,NaN,4.621700e+08,9.211960e+08,9.034520e+08,NaN,8.835080e+08,8.637580e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,1391142,NaN,NaN,4.747110e+05,3.265900e+05,3.826500e+04,6.470080e+05,6.367800e+05,6.507520e+05,7.478960e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10903,1304409,NaN,NaN,4.802700e+05,4.864320e+05,5.401030e+05,NaN,8.383350e+05,1.179391e+06,1.625409e+06,...,1.798969e+06,1.956940e+06,1.979297e+06,1.986397e+06,2.041065e+06,2.039653e+06,2.072124e+06,2.070370e+06,NaN,NaN
10904,1163609,NaN,8.448095e+07,8.380843e+07,9.010743e+07,9.587951e+07,9.796770e+07,1.619755e+08,1.410452e+08,1.422904e+08,...,9.745193e+07,9.440644e+07,1.080661e+08,1.229148e+08,1.038799e+08,1.004731e+08,1.158518e+08,1.212423e+08,1.070617e+08,1.124735e+08
10905,1137411,5.020000e+09,5.113000e+09,5.389000e+09,5.168000e+09,5.207000e+09,5.148000e+09,5.314000e+09,5.313000e+09,5.353000e+09,...,7.172000e+09,7.230000e+09,7.389000e+09,7.471000e+09,7.541000e+09,7.675000e+09,7.707000e+09,7.709000e+09,7.780000e+09,1.835100e+10
10906,15393,NaN,3.377930e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df2.loc[df2['SEC ID'] ==320193]

,SEC ID,2011Q1,2011Q2,2011Q3,2011Q4,2012Q1,2012Q2,2012Q3,2012Q4,2013Q1,...,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2
9722,320193,9.490400e+10,1.067580e+11,1.163710e+11,1.386810e+11,1.509340e+11,1.628960e+11,1.760640e+11,1.960880e+11,1.947430e+11,...,2.611940e+11,2.731510e+11,2.904790e+11,2.932840e+11,3.052770e+11,3.056020e+11,3.216860e+11,3.311410e+11,NaN,3.345320e+11

In [30]:


df3 = pd.read_csv('../archive/metrics/PropertyPlantAndEquipmentNet-quarterly.csv')

df3

,SEC ID,2011Q1,2011Q2,2011Q3,2011Q4,2012Q1,2012Q2,2012Q3,2012Q4,2013Q1,...,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2
0,1003130,NaN,1.283200e+07,1.148100e+07,1.063700e+07,9.389000e+06,8677000.0,7788000.0,6380000.0,5954000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1133116,NaN,NaN,NaN,5.064000e+03,4.979000e+03,3879.0,3335.0,2685.0,1788.0,...,1.930000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,912513,1.123900e+09,1.132800e+09,1.105200e+09,1.114500e+09,1.124700e+09,699400000.0,805600000.0,835300000.0,872100000.0,...,1.101500e+09,1.113300e+09,1.110700e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1101026,NaN,NaN,1.247880e+05,8.354600e+04,6.561300e+04,NaN,NaN,13203.0,0.0,...,6.250000e+04,5.625000e+04,5.000000e+04,43750.0,37500.0,31250.0,2.500000e+04,1.875000e+04,1.250000e+04,NaN
4,23197,3.049100e+07,2.817700e+07,2.566100e+07,NaN,2.451500e+07,23879000.0,21861000.0,NaN,21238000.0,...,1.744800e+07,1.647000e+07,1.447700e+07,NaN,13839000.0,38667000.0,3.718600e+07,NaN,3.575900e+07,3.398100e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,1391142,NaN,NaN,4.089800e+04,3.832500e+04,3.575100e+04,33178.0,30605.0,28032.0,22892.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10903,1304409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10904,1163609,NaN,2.744918e+07,2.718044e+07,2.639831e+07,2.603253e+07,25870713.0,26426376.0,26468051.0,26524110.0,...,3.923151e+07,4.045830e+07,4.102378e+07,40921077.0,40789519.0,41254001.0,4.280069e+07,4.475114e+07,4.574326e+07,5.145430e+07
10905,1137411,7.180000e+08,7.290000e+08,7.540000e+08,7.460000e+08,7.510000e+08,750000000.0,773000000.0,767000000.0,758000000.0,...,9.240000e+08,9.330000e+08,9.640000e+08,973000000.0,991000000.0,999000000.0,1.035000e+09,1.032000e+09,1.042000e+09,1.328000e+09
10906,15393,NaN,1.070390e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df3.loc[df3['SEC ID'] ==320193]

,SEC ID,2011Q1,2011Q2,2011Q3,2011Q4,2012Q1,2012Q2,2012Q3,2012Q4,2013Q1,...,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2
9722,320193,NaN,NaN,NaN,NaN,8.847000e+09,1.048700e+10,1.545200e+10,1.542200e+10,1.502600e+10,...,2.015100e+10,2.114900e+10,2.247100e+10,2.230000e+10,2.320300e+10,2.544800e+10,2.701000e+10,2.651000e+10,NaN,2.716300e+10

In [32]:


df4 = pd.read_csv('../archive/metrics/latest-snapshot-quarterly.csv')

df4

,SEC ID,Report date,Assets,AssetsCurrent,CashAndCashEquivalentsAtCarryingValue,ComprehensiveIncomeNetOfTax,EarningsPerShareDiluted,Goodwill,Liabilities,LiabilitiesCurrent,NetCashProvidedByUsedInFinancingActivities,NetCashProvidedByUsedInInvestingActivities,NetCashProvidedByUsedInOperatingActivities,OperatingIncomeLoss,PropertyPlantAndEquipmentNet,Revenues,WeightedAverageNumberOfDilutedSharesOutstanding
0,1329548,2012-09-30,1.506650e+05,1.409890e+05,NaN,NaN,0.03,NaN,9.822009e+06,9.822009e+06,NaN,NaN,NaN,-228319.0,3676.0,3.916620e+05,136278453.0
1,1205727,2014-03-31,2.434050e+08,6.298800e+07,26265000.0,NaN,-0.19,19814000.0,NaN,5.969100e+07,-1864000.0,-12929000.0,12179000.0,-5430000.0,152014000.0,1.085370e+08,30586000.0
2,1555560,2013-11-30,2.360000e+02,NaN,NaN,NaN,NaN,NaN,3.867000e+03,NaN,3650.0,NaN,-3759.0,NaN,NaN,0.000000e+00,NaN
3,1008848,2017-03-31,1.319842e+09,2.481520e+08,133619000.0,-16502000.0,-0.41,278069000.0,6.437150e+08,1.193350e+08,5971000.0,-5849000.0,-25401000.0,-15273000.0,37132000.0,1.193860e+08,45808000.0
4,316793,2014-09-28,1.585348e+09,1.069869e+09,658989000.0,-1500000.0,0.36,52149000.0,2.498800e+08,2.224860e+08,1243000.0,8030000.0,65151000.0,17959000.0,377687000.0,2.869880e+08,72973000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10901,29669,2017-03-31,3.907300e+09,2.138000e+09,244300000.0,-72900000.0,-0.71,603100000.0,4.081400e+09,1.412300e+09,-151400000.0,95500000.0,-18600000.0,47400000.0,637000000.0,1.676300e+09,70100000.0
10902,1543637,2017-03-31,3.497480e+05,3.284530e+05,317547.0,NaN,0.05,NaN,NaN,3.863980e+05,379000.0,0.0,-73903.0,-69726.0,21295.0,0.000000e+00,75341244.0
10903,1047881,2017-03-31,2.025767e+07,9.547806e+06,2653868.0,7480.0,0.00,NaN,1.273629e+07,8.481404e+06,-5762.0,-48563.0,-2215649.0,181859.0,857141.0,1.111753e+07,92931260.0
10904,1546296,2017-03-31,3.996409e+07,9.309830e+06,5562237.0,-3101693.0,NaN,20201190.0,1.095365e+07,7.881902e+06,2856000.0,-6876.0,-3355748.0,-3691394.0,276019.0,5.634481e+06,NaN
10905,1041577,2013-12-31,5.962200e+08,4.233370e+08,82646000.0,4961000.0,NaN,13657000.0,NaN,5.570600e+07,NaN,NaN,NaN,13297000.0,120462000.0,5.931200e+07,-65447000.0

In [33]:
df4.loc[df4['SEC ID'] ==320193]

,SEC ID,Report date,Assets,AssetsCurrent,CashAndCashEquivalentsAtCarryingValue,ComprehensiveIncomeNetOfTax,EarningsPerShareDiluted,Goodwill,Liabilities,LiabilitiesCurrent,NetCashProvidedByUsedInFinancingActivities,NetCashProvidedByUsedInInvestingActivities,NetCashProvidedByUsedInOperatingActivities,OperatingIncomeLoss,PropertyPlantAndEquipmentNet,Revenues,WeightedAverageNumberOfDilutedSharesOutstanding
6691,320193,2017-04-01,3.345320e+11,1.019900e+11,1.515700e+10,1.036200e+10,2.1,5.473000e+09,2.004500e+11,7.334200e+10,NaN,NaN,NaN,1.409700e+10,2.716300e+10,5.289600e+10,5.261688e+09

In [35]:
df5 = pd.read_csv('../archive/companies/320193-quarterly.csv')

df5.head(40)

,Unnamed: 0,2011-03-26,2011-06-25,2012-03-31,2012-06-30,2012-12-29,2013-03-30,2013-06-29,2013-09-28,2013-12-28,...,2014-09-27,2014-12-27,2015-03-28,2015-06-27,2015-09-26,2015-12-26,2016-03-26,2016-06-25,2016-09-24,2017-04-01
0,AllocatedShareBasedCompensationExpense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.880000e+08,9.270000e+08,8.560000e+08,9.150000e+08,1.078000e+09,1.048000e+09,1.054000e+09,1.030000e+09,1.217000e+09
1,AntidilutiveSecuritiesExcludedFromComputationO...,2.200000e+05,2.000000e+03,NaN,NaN,3.700000e+06,4.300000e+06,5.100000e+06,-8.900000e+06,4.000000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CashAndCashEquivalentsPeriodIncreaseDecrease,NaN,NaN,NaN,NaN,5.408000e+09,NaN,NaN,NaN,-1.820000e+08,...,NaN,5.634000e+09,NaN,NaN,NaN,-4.431000e+09,NaN,NaN,NaN,NaN
3,CommonStockDividendsPerShareDeclared,NaN,NaN,NaN,NaN,2.650000e+00,2.650000e+00,3.050000e+00,3.050000e+00,3.050000e+00,...,-4.750000e+00,4.700000e-01,4.700000e-01,5.200000e-01,5.200000e-01,5.200000e-01,5.200000e-01,5.700000e-01,5.700000e-01,5.700000e-01
4,ComprehensiveIncomeNetOfTax,5.999000e+09,7.571000e+09,1.176200e+10,8.832000e+09,1.319100e+10,9.899000e+09,5.702000e+09,7.275000e+09,1.323700e+10,...,9.463000e+09,1.890500e+10,1.431600e+10,9.065000e+09,9.681000e+09,1.722600e+10,1.094800e+10,8.737000e+09,9.755000e+09,1.036200e+10
5,CostOfGoodsAndServicesSold,1.444900e+10,1.664900e+10,2.062200e+10,2.002900e+10,3.345200e+10,2.725400e+10,2.229900e+10,2.360100e+10,3.574800e+10,...,2.611400e+10,4.485800e+10,3.435400e+10,2.992400e+10,3.095300e+10,4.544900e+10,3.063600e+10,2.625200e+10,2.903900e+10,3.230500e+10
6,DeferredIncomeTaxExpenseBenefit,NaN,NaN,NaN,NaN,1.179000e+09,NaN,NaN,NaN,1.253000e+09,...,NaN,2.197000e+09,NaN,NaN,NaN,1.592000e+09,NaN,NaN,NaN,NaN
7,DepreciationAmortizationAndAccretionNet,NaN,NaN,NaN,NaN,1.588000e+09,NaN,NaN,NaN,2.144000e+09,...,NaN,2.575000e+09,NaN,NaN,NaN,2.954000e+09,NaN,NaN,NaN,NaN
8,DerivativeInstrumentsGainLossReclassifiedFromA...,-9.000000e+07,-1.620000e+08,1.460000e+08,8.400000e+07,-1.590000e+08,-2.900000e+07,4.900000e+08,3.680000e+08,-7.800000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DerivativeInstrumentsGainLossRecognizedInIncom...,-1.400000e+08,1.600000e+07,-1.400000e+08,-3.800000e+07,9.000000e+06,-6.000000e+07,-6.300000e+07,-1.860000e+08,-2.000000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,DerivativeInstrumentsGainLossRecognizedInOther...,-2.270000e+08,5.000000e+06,-3.200000e+07,2.370000e+08,2.410000e+08,8.110000e+08,3.310000e+08,-3.370000e+08,3.090000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,DerivativeInstrumentsNotDesignatedAsHedgingIns...,-8.400000e+07,-4.500000e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,EarningsPerShareBasic,6.490000e+00,7.890000e+00,1.245000e+01,9.420000e+00,1.393000e+01,1.016000e+01,7.510000e+00,8.430000e+00,1.459000e+01,...,-2.108000e+01,3.080000e+00,2.340000e+00,1.860000e+00,2.000000e+00,3.300000e+00,1.910000e+00,1.430000e+00,1.710000e+00,2.110000e+00
13,EarningsPerShareDiluted,6.400000e+00,7.790000e+00,1.230000e+01,9.320000e+00,1.381000e+01,1.009000e+01,7.470000e+00,8.380000e+00,1.450000e+01,...,-2.095000e+01,3.060000e+00,2.330000e+00,1.850000e+00,1.980000e+00,3.280000e+00,1.900000e+00,1.420000e+00,1.710000e+00,2.100000e+00
14,EmployeeServiceShareBasedCompensationTaxBenefi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.240000e+08
15,ExcessTaxBenefitFromShareBasedCompensationFina...,NaN,NaN,NaN,NaN,4.040000e+08,NaN,NaN,NaN,2.800000e+08,...,NaN,2.640000e+08,NaN,NaN,NaN,2.240000e+08,NaN,NaN,NaN,NaN
16,GoodwillAcquiredDuringPeriod,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.400000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,GrossProfit,1.021800e+10,1.192200e+10,1.856400e+10,1.499400e+10,2.106000e+10,1.634900e+10,1.302400e+10,1.387100e+10,2.184600e+10,...,1.600900e+10,2.974100e+10,2.365600e+10,1.968100e+10,2.054800e+10,3.042300e+10,1.992100e+10,1.610600e+10,1.781300e+10,2.059100e+10
18,IncomeLossFromContinuingOperationsBeforeIncome...,NaN,NaN,NaN,NaN,NaN,NaN,9.435000e+09,NaN,1.770900e+10,...,1.147200e+10,2.441600e+10,1.856400e+10,1.447300e+10,1.506200e+10,2.457300e+10,1.414200e+10,1.046900e+10,1.218800e+10,1.468400e+10
19,IncomeLossFromContinuingOperationsBeforeIncome...,7.900000e+09,9.551000e+09,1.553200e+10,1.186100e+10,1.767200e+10,1.290500e+10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,IncomeTaxExpenseBenefit,1.913000e+09,2.243000e+09,3.910000e+09,3.037000e+09,4.594000e+09,3.358000e+09,2.535000e+09,2.631000e+09,4.637000e+09,...,3.005000e+09,6.392000e+09,4.995000e+09,3.796000e+09,3.938000e+09,6.212000e+09,3.626000e+09,2.673000e+09,3.174000e+09,3.655000e+09
21,IncomeTaxReconciliationNondeductibleExpenseSha...,1.400000e+08,1.130000e+08,1.560000e+08,1.310000e+08,2.140000e+08,1.950000e+08,1.970000e+08,2.100000e+08,2.650000e+08,...,2.450000e+08,3.510000e+08,3.110000e+08,2.860000e+08,2.520000e+08,4.130000e+08,3.470000e+08,3.210000e+08,3.190000e+08,NaN
22,IncomeTaxReconciliationTaxContingenciesDomestic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,IncomeTaxesPaidNet,NaN,NaN,NaN,NaN,1.890000e+09,NaN,NaN,NaN,3.387000e+09,...,NaN,3.869000e+09,NaN,NaN,NaN,3.398000e+09,NaN,NaN,NaN,NaN
24,IncreaseDecreaseInAccountsPayable,NaN,NaN,NaN,NaN,6.145000e+09,NaN,NaN,NaN,8.191000e+09,...,NaN,9.003000e+09,NaN,NaN,NaN,-8.520000e+08,NaN,NaN,NaN,NaN
25,IncreaseDecreaseInAccountsReceivable,NaN,NaN,NaN,NaN,6.680000e+08,NaN,NaN,NaN,1.098000e+09,...,NaN,-7.510000e+08,NaN,NaN,NaN,-3.896000e+09,NaN,NaN,NaN,NaN
26,IncreaseDecreaseInDeferredRevenue,NaN,NaN,NaN,NaN,1.611000e+09,NaN,NaN,NaN,1.368000e+09,...,NaN,9.450000e+08,NaN,NaN,NaN,-2.900000e+07,NaN,NaN,NaN,NaN
27,IncreaseDecreaseInInventories,NaN,NaN,NaN,NaN,6.640000e+08,NaN,NaN,NaN,3.580000e+08,...,NaN,1.720000e+08,NaN,NaN,NaN,1.020000e+08,NaN,NaN,NaN,NaN
28,IncreaseDecreaseInOtherOperatingAssets,NaN,NaN,NaN,NaN,-4.130000e+08,NaN,NaN,NaN,3.190000e+08,...,NaN,1.648000e+09,NaN,NaN,NaN,8.930000e+08,NaN,NaN,NaN,NaN
29,IncreaseDecreaseInOtherOperatingLiabilities,NaN,NaN,NaN,NaN,2.373000e+09,NaN,NaN,NaN,1.195000e+09,...,NaN,4.667000e+09,NaN,NaN,NaN,-3.680000e+08,NaN,NaN,NaN,NaN
30,IncreaseDecreaseInOtherReceivables,NaN,NaN,NaN,NaN,2.174000e+09,NaN,NaN,NaN,3.459000e+09,...,NaN,3.508000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,InterestExpense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.400000e+07,...,1.150000e+08,1.310000e+08,1.630000e+08,2.010000e+08,2.380000e+08,2.760000e+08,3.210000e+08,4.090000e+08,4.500000e+08,5.300000e+08
32,InterestExpenseDebt,NaN,NaN,NaN,NaN,NaN,NaN,5.300000e+07,NaN,8.400000e+07,...,1.130000e+08,1.280000e+08,1.610000e+08,1.970000e+08,2.360000e+08,2.710000e+08,3.110000e+08,3.930000e+08,4.250000e+08,5.070000e+08
33,InterestPaid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.610000e+08,...,NaN,2.020000e+08,NaN,NaN,NaN,3.960000e+08,NaN,NaN,NaN,NaN
34,InvestmentIncomeInterestAndDividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.270000e+08,...,5.190000e+08,6.540000e+08,6.750000e+08,7.660000e+08,8.260000e+08,9.410000e+08,9.860000e+08,1.036000e+09,1.036000e+09,1.282000e+09
35,LongTermPurchaseCommitmentAmount,NaN,NaN,NaN,3.020000e+08,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,MarketableSecuritiesRealizedGainLoss,4.100000e+07,1.400000e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NetCashProvidedByUsedInFinancingActivities,NaN,NaN,NaN,NaN,-4.497000e+09,NaN,NaN,NaN,-7.749000e+09,...,NaN,-6.923000e+09,NaN,NaN,NaN,-1.144400e+10,NaN,NaN,NaN,NaN
38,NetCashProvidedByUsedInFinancingActivitiesCont...,NaN,NaN,NaN,NaN,-4.497000e+09,NaN,NaN,NaN,-7.749000e+09,...,NaN,-6.923000e+09,NaN,NaN,NaN,-1.144400e+10,NaN,NaN,NaN,NaN
39,NetCashProvidedByUsedInInvestingActivities,NaN,NaN,NaN,NaN,-1.352100e+10,NaN,NaN,NaN,-1.510300e+10,...,NaN,-2.116500e+10,NaN,NaN,NaN,-2.045000e+10,NaN,NaN,NaN,NaN